<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<style type="text/css">
	input {
		width:75px;
	}
	.centered {
		text-align:center;
	}
	td:nth-child(2) {
		text-align: right;
	}
	thead {
		font-weight: bold;
	}
	</style>
</head>
<body>
<h2 class="centered" style="margin:10px;">Kronify</h2>
<div id="gjaldmidlar">
	<table id="tafla">
	<thead>
		<tr>
			<td>Gjaldmiðill</td>
			<td>Gengi</td>
			<td>Magn</td>
			<td>Krónur</td>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	</table>
	<div class="centered" style="margin-top:20px;">
		<button id="synameira">Sýna meira</button>

		<button id="stillingar">Stillingar</button>
	</div>
</div>
<script src="../lib/jquery-2.2.3.min.js"></script>
<script src="../js/menu.js"></script>
</body>
</html>