<!DOCTYPE html>
<html>
<head>
	<title>Stillingar</title>
	<meta charset="utf-8">
	<style>
		.centered {
			top:0;bottom:0;left:0;right:0;margin:auto;position:absolute;
		}
		.left {
			text-align: left;
			margin-left:30px;
		}
		#options {
			height:200px;width:400px;background:#ededed;
			border-radius: 4px;
			border: solid 2px black;
		}
		label {
			display:block;
		}
		#save {
			margin-top:50px;
		}
	</style>
</head>
<body style="text-align: center;vertical-align: middle;">
	<div class="centered" id="options" style="">
		<h1>Stillingar</h1>

		<div class="left">
			<label>
				<input type="checkbox" id="tooltip">
				Sýna krónur sjálfkrafa þegar músarbendill er settur yfir verð.
			</label>
		</div>

		<div></div>
		<button id="save">Vista stillingar</button>
		<div id="status"></div>
	</div>
<script src="../js/options.js"></script>
</body>
</html>